.w1{
  background-color:rgb(205, 206, 138);
}
.w2{
  background-color:lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tp{
  background-color: white;
}
.w3{
  background-color:grey;
  color: white;
}
.flex{
    display: flex;
  
}
.margin{
  padding:0px 40px;
  text-align: center;
}

.age{
  width: 150px;
}
input{
  height: 15px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border:none;
  width: 150px;
  text-align: center;
}
button{
  height: 26px;
  width: 100px;
  border-radius: 10px;
  border: none;
  margin: 0px 5px;
  background-color: rgb(62, 62, 201);
  color: white;
  font-weight:bold;
  cursor: pointer;
}
.table{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data{
  cursor: pointer;
}







.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}